---
layout: application_home
title: "Professional Alliance Group"
name: "Professional Allicance Group"
description: "Connect with leading business oriented fellows."
image: "/images/logo/arc_logo_coloured.png"
year: 2025
---

<div class="preloader-new">
    <!-- Logo -->
    <div class="preloader-logo-new"></div>

    <!-- Animated Loading Text -->
    <div class="loader-new"></div>
</div>
<!-- Header span -->

<!-- Banner Section -->
<section class="banner-section">
    <div class="banner-carousel owl-carousel owl-theme">
        <!-- Slide Item -->
        <div
                class="slide-item lazyload"
                style="background-image: url(images/compressed/nairobi2.jpg)"
        >
            <div class="auto-container">
                <div class="content-box">
                    <span class="title">[Placeholder]</span>
                    <h2>Professional Alliance Group</h2>
                    <ul class="info-list">
                        <!--                        <li><span class="fa fa-chair"></span> 300 Seats</li>-->
                        <!--                        <li><span class="fa fa-user-alt"></span> 20 SPEAKERS</li>-->
                        <li>
                            <span class="fa fa-map-marker-alt"></span> [Placeholder]
                        </li>
                    </ul>
                    <div
                            class="btn-align"
                            style="
              display: flex;
              gap: 1rem;
              flex-wrap: wrap;
              justify-content: center;
            "
                    >
                        <div class="btn-box">
                            <a
                                    href=/index.html"
                                    target="_blank"
                                    class="theme-btn btn-style-two"
                            >
                                <span class="btn-title">[Check Collaboration]</span></a
                            >
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Slide Item -->
        <div
                class="slide-item lazyload"
                style="background-image: url(images/compressed/nairobi3.jpg)"
        >
            <div class="auto-container">
                <div class="content-box">
                    <span class="title">[Placeholder]</span>
                    <h2>Professional Alliance Group</h2>
                    <ul class="info-list">
                        <!--                        <li><span class="fa fa-chair"></span> 300 Seats</li>-->
                        <!--                        <li><span class="fa fa-user-alt"></span> 20 SPEAKERS</li>-->
                        <li>
                            <span class="fa fa-map-marker-alt"></span> [Placeholder]
                        </li>
                    </ul>
                    <div
                            class="btn-align"
                            style="
              display: flex;
              gap: 1rem;
              flex-wrap: wrap;
              justify-content: center;
            "
                    >
                        <div class="btn-box">
                            <a
                                    href=/index.html"
                                    target="_blank"
                                    class="theme-btn btn-style-two"
                            >
                                <span class="btn-title">[Check Collaboration]</span></a
                            >
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Banner Section -->

<!-- About Section -->
<section class="about-section">
    <div class="auto-container">
        <div class="row">
            <!-- Content Column -->
            <div class="content-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column">
                    <div class="sec-title">
                        <span class="title">ABOUT</span>
                        <h2>Welcome to the Professional Alliance Group</h2>
                        <div class="text">
                            This year’s theme,
                            <strong>“Lorem Ipsum. Lorem Ipsum”</strong>,
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </div>
                    </div>
                    <ul class="list-style-one">
                        <li>
                            Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci
                            velit..
                        </li>
                        <li>
                            Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci
                            velit..
                        </li>
                        <li>
                            Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci
                            velit..
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Image Column: Insert image about group -->
            <div
                    class="image-column col-lg-6 col-md-12 col-sm-12"
                    style="
          background-image: url(&quot;images/conference.jpg&quot;);
          background-size: cover;
          background-position: center;
          height: auto;
          min-height: 400px;
        "
            >
                <!-- Optionally, you can add content inside the image column -->
            </div>
        </div>
    </div>
</section>
<!--End About Section -->

<!-- Members Section -->

<!-- End Member Section -->
<section class="speakers-section">
    <div class="auto-container">
        <div class="sec-title light text-center">
            <h2>Members</h2>
        </div>
        <div class="outer-box">
            <div class="row d-flex align-items-center justify-content-center">
                <!-- Speaker Block -->
                <div class="speaker-block col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image">
                                <a href="members/banta/"
                                ><img
                                        src="images/members/banta.jpg"
                                        alt="Nemo enim ipsam voluptatem"
                                /></a>
                            </figure>
                        </div>
                        <div class="info-box">
                            <div class="inner">
                                <h4 class="name">
                                    <a href="members/banta/"
                                    >Banta</a
                                    >
                                </h4>
                                <span class="designation">Nemo enim ipsam voluptatem</span>
                                <ul class="social-links social-icon-colored">
                                    <li>
                                        <a href="[Insert Twitter Link]"
                                        ><i class="fa-brands fa-x-twitter"></i
                                        ></a>
                                    </li>
                                    <!-- <li>
                                                                                                                    <a href="#"><i class="fab fa-linkedin"></i></a>
                                                                                                                </li> -->
                                    <li>
                                        <a href="[Insert Website Link]"
                                        ><i class="fab fa-sistrix"></i
                                        ></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Speaker Block -->
                <div class="speaker-block col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image">
                                <a href="members/fh/"
                                ><img
                                        src="images/members/francis.jpg"
                                        alt="Nemo enim ipsam voluptatem"
                                /></a>
                            </figure>
                        </div>
                        <div class="info-box">
                            <div class="inner">
                                <h4 class="name">
                                    <a href="members/fh/"
                                    >FH</a
                                    >
                                </h4>
                                <span class="designation">Nemo enim ipsam voluptatem</span>
                                <ul class="social-links social-icon-colored">
                                    <li>
                                        <a href="[Insert Twitter Link]"
                                        ><i class="fa-brands fa-x-twitter"></i
                                        ></a>
                                    </li>
                                    <!-- <li>
                                                                                                                    <a href="#"><i class="fab fa-linkedin"></i></a>
                                                                                                                </li> -->
                                    <li>
                                        <a href="[Insert Website Link]"
                                        ><i class="fab fa-sistrix"></i
                                        ></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Why Attend -->
<section class="about-section" style="position: relative">
    <div
            class="overlay"
            style="
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      /*background: rgba(0, 0, 0, 0.5);*/
      z-index: -1;
    "
    ></div>
    <div class="auto-container">
        <div class="row align-items-center">
            <div class="content-column col-lg-6 col-md-10 col-sm-12 mx-auto">
                <div class="inner-column">
                    <div class="sec-title">
                        <span class="title">Lorem Ipsum Dolor</span>
                    </div>
                    <ul class="list-style-one">
                        <li>
                            <strong>Lorem ipsum:</strong> Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit.
                        </li>
                        <li>
                            <strong>Sed do eiusmod:</strong> Sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua.
                        </li>
                        <li>
                            <strong>Ut enim ad minim:</strong> Ut enim ad minim veniam, quis
                            nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat.
                        </li>
                        <li>
                            <strong>Duis aute irure:</strong> Duis aute irure dolor in
                            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                            pariatur.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of Why Attend -->

<!--Previous Sponsor Section-->
<!--<section class="clients-section">-->
<!--    <div class="anim-icons">-->
<!--        <span class="icon icon-dots-3 wow zoomIn"></span>-->
<!--        &lt;!&ndash; <span class="icon icon-circle-blue wow zoomIn"></span> &ndash;&gt;-->
<!--    </div>-->
<!--    <div class="auto-container">-->
<!--        <div class="sec-title" style="text-align: center">-->
<!--            <h2 style="color: #c11803">Previous Sponsors</h2>-->
<!--            <hr/>-->
<!--            <span class="title">-->
<!--        These were our previous sponsors who contributed to the success of past-->
<!--        events! 🙌-->
<!--      </span>-->
<!--        </div>-->

<!--        <div class="sponsors-outer">-->
<!--            <div class="row justify-content-center">-->
<!--                &lt;!&ndash; Sponsor Block &ndash;&gt;-->
<!--                {% for sponsor in site.data.remote.sponsors %} {% if-->
<!--                sponsor.categories contains 'previous' %}-->
<!--                <div-->
<!--                        class="client-block col-lg-3 col-md-6 col-sm-12 d-flex justify-content-center"-->
<!--                >-->
<!--                    <figure class="">-->
<!--                        <a href="{{ sponsor.url }}" target="_blank"-->
<!--                        ><img-->
<!--                                src="{{ sponsor.image }}"-->
<!--                                class="lazyload"-->
<!--                                alt="{{ sponsor.name }}"-->
<!--                        /></a>-->
<!--                    </figure>-->
<!--                </div>-->
<!--                {% endif %} {% endfor %}-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->
<!--End Previous Sponsor Section-->
